html {
  font-size: 14px;
}
.container {
  width: 100%;
  margin: 0 auto;
}

/***************  HEADER ***************/

.main-header {
  display: flex;
  height: 52px;
}
.logo {
  position: relative;
  height: 20px;
  margin: 0 auto;
  padding: 16px 0;
}

.non-mobile{
  display: none;
}

.search {
  position: absolute;
  right: 10px;
  padding: 4px 0;
}

/* NAV */
.main-nav {
  background-color: #313538;
  display: flex;
  color: #828282;
  font-size: 0;
}
.main-nav li,
.main-nav div {
  font-size: 1.14rem;
}

.main-nav li {
  padding: 13px 0 15px;
  width: calc(100vw / 3);
  text-align: center;
}

.main-nav a,
.main-nav a:visited {
  color: #828282;
}
.main-nav a:hover {
  color: white;
}

.divider {
  line-height: 46px;
}
/* Banner */

.main-banner img {
  display: block;
  width: 100%;
}

/*************** Product-IMG Area ***************/
.row {
  margin: 0 auto;
  width: 86.7%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.col {
  margin: 15px 0 3px;
  max-width: 49%;
  display: flex;
  flex-flow: column;
}

.product-name {
  margin-top: 10px;
  font-size: 0.86rem;
  color: #3f3a3a;
}

.color-tag,
.product-price {
  display: inline-block;
  margin-top: 8px;
  font-size: 0.86rem;
  color: #3f3a3a;
}

/*************** Mobile Tool ***************/
.mobile-tool {
  position: fixed;
  top: calc(100vh - 60px);
  z-index: 2;
  background-color: #313538;
  display: flex;
  padding: 8px 0;
}

.mobile-tool-btn {
  width: calc(100vw / 2);
}

.mobile-tool-wrap {
  text-align: center;
}

.mobile-tool-logo {
  vertical-align: top;
}

.mobile-tool-tag {
  color: white;
  display: inline-block;
  height: 44px;
  font-size: 1.14rem;
  line-height: 44px;
}

#mobile-tool-divider {
  color: #828282;
  font-size: 1.5rem;
}

/*************** Footer ***************/
.main-footer {
  padding-top: 23px;
  padding-bottom: 13px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.footer-row {
  display: flex;
  justify-content: space-around;
}

.main-footer,
.main-footer .local-link a {
  background-color: #313538;
  color: #f5f5f5;
}

.main-footer .local-link a {
  line-height: 20px;
}

.main-footer .local-link li {
  margin-bottom: 8px;
}

.external-logo {
  display: inline-block;
  width: 1.43rem;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  color: #828282;
  margin-top: 7px;
}

/*************** Media Query ***************/

@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
