html {
  font-size: 14px;
}
.container {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 315px);
}

/***************  HEADER ***************/
.main-header {
  position: fixed;
  top: 0;
  height: 99px;
  z-index: 2;
  background-color: white;
}
.logo {
  height: 20px;
  margin: 0 auto;
  padding: 16px 0;
  display: block;
  cursor: pointer;
}

.header-tools {
  width: 300px;
  position: absolute;
  height: 30px;
  top: 10px;
  left: 50%;
  transform: translateX(-55%);
}

.header-tools-mini {
  position: absolute;
  height: 30px;
  top: 10px;
  right: 10px;
}

.header-tool-btn {
  display: none;
}

#cart-btn {
  position: relative;
}
.cart-qty {
  position: absolute;
  font-size: 10px;
  color: white;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  width: 22px;
  height: 22px;
  background-color: #8b572a;
  opacity: 0.85;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* Search */
.search-panel {
  margin: 0 auto;
  width: 40px;
  height: 100%;
  padding-right: 20px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

#search-input {
  width: 100%;
  outline: none;
  height: 100%;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  cursor: pointer;
}

.no-result {
  padding-top: 20px;
  font-size: 1.2rem;
}

/* NAV */
.main-nav {
  background-color: #313538;
  display: flex;
  color: #828282;
  font-size: 0;
}

.main-nav li {
  font-size: 1.2rem;
  padding: 13px 0 15px;
  text-align: center;
}

.main-nav a {
  display: inline-block;
  width: calc(100vw / 3);
  border-left: 1px solid #828282;
}

.main-nav li:nth-child(1) a {
  border: none;
}

.main-nav a,
.main-nav a:visited {
  color: #828282;
}

.focus-nav-tag {
  font-weight: bold;
  color: #8b572a;
}

.main-nav a:hover {
  color: white;
}

.nav-highlight span {
  color: white;
}
/* Banner */

.main-banner {
  position: relative;
  width: 100%;
  padding-top: 99px;
}

.story-container {
  display: none;
  position: relative;
  width: 100%;
  height: 500px;
  background-size: auto 500px;
  background-position: center top;
  background-repeat: no-repeat;
}

.show {
  display: block;
}

.story {
  font-size: 16px;
  color: #070707;
  margin: 0 auto;
  width: 60%;
  padding-top: 100px;
  line-height: 40px;
}
.slide-dot {
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translateX(-55%);
}

.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #8b572a;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*************** Product-IMG Area ***************/
.content-area {
  margin-top: 99px;
}
.row {
  margin: 0 auto 30px;
  width: 86.7%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.col {
  margin: 15px 0 3px;
  width: 153px;
  display: flex;
  flex-flow: column;
  letter-spacing: 4px;
}

.product-pic {
  width: 100%;
}

.product-name {
  margin-top: 10px;
  font-size: 1rem;
  color: #3f3a3a;
}

.color-tags-wrap > .color-tag,
.col > .product-price {
  display: inline-block;
  margin-top: 8px;
  font-size: 1rem;
  color: #3f3a3a;
}

.color-tag {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  cursor: pointer;
}

/*************** Mobile Tool ***************/
.mobile-tool {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #313538;
  display: flex;
  padding: 8px 0;
}

.mobile-tool-btn {
  width: calc(100vw / 2);
  border-left: 1px solid #828282;
}

.mobile-tool-btn:nth-child(1) {
  border: none;
}

.mobile-tool-wrap {
  text-align: center;
}

.mobile-tool-logo {
  vertical-align: top;
}

.mobile-tool-tag {
  color: white;
  display: inline-block;
  height: 44px;
  font-size: 1.14rem;
  line-height: 44px;
}

#mobile-cart-btn {
  position: relative;
  display: inline-block;
  height: 44px;
}

/*************** Footer ***************/
.main-footer {
  padding-top: 23px;
  padding-bottom: 13px;
  margin-bottom: 60px;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-footer ul {
  height: 100px;
  display: flex;
  flex-flow: column wrap;
}

.main-footer,
.main-footer a {
  background-color: #313538;
  color: #f5f5f5;
}

.main-footer a {
  line-height: 20px;
  padding-right: 20px;
}

.main-footer li {
  margin-bottom: 8px;
}

.external-link {
  line-height: 80px;
}
.external-logo {
  display: inline-block;
  width: 1.43rem;
  margin: 3px;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  color: #828282;
  margin-top: 7px;
}

/************==== Media Queries =====***********/
@media (min-width: 680px) {
  html {
    font-size: 16px;
  }

  .logo {
    height: 50px;
  }

  .header-tools-mini {
    height: 40px;
    top: 20px;
  }

  .row {
    width: 80%;
    margin-top: 40px;
  }

  .col {
    width: 250px;
  }

  .color-tag {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .container {
    min-height: calc(100vh - 247px);
  }

  .content-area {
    margin-top: 0;
  }

  .row {
    margin-top: 0;
  }

  .mobile-tool {
    display: none;
  }

  /* header */
  .logo {
    height: 48px;
    vertical-align: top;
    padding: 26px 20px;
    margin: 0;
  }

  .main-header {
    display: flex;
    position: relative;
  }

  .header-tools-mini {
    display: flex;
    width: 340px;
    height: 40px;
    top: 40px;
    right: 0;
    left: auto;
    transform: none;
  }

  .search-panel {
    width: 350px;
    padding-right: 5%;
  }

  #search-input {
    border: solid 1px #979797;
    border-radius: 30px;
  }

  .main-nav {
    background-color: white;
    height: 100px;
  }

  .main-nav li {
    height: 100px;
    padding: 50px 0;
  }

  .main-nav a {
    width: calc(100vw / 8);
  }

  .main-nav a span {
    padding-left: 5%;
    padding-right: 5%;
  }
  .main-nav a,
  .main-nav a:visited {
    color: #3f3a3a;
  }
  .main-nav a:hover {
    color: #8b572a;
  }

  .nav-highlight span {
    color: #8b572a;
  }

  /* Non-mobile Tools */

  .header-tool-btn {
    display: block;
    width: 40px;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

  #horizontal-divider {
    background-color: #313538;
    height: 30px;
  }

  /* banner */
  .main-banner {
    padding: 0;
  }

  .slide-dot {
    top: 465px;
  }
  .story {
    font-size: 20px;
    line-height: 45px;
  }

  /* product-img area */
  .row {
    max-width: 1200px;
  }

  .col {
    width: 360px;
  }

  .color-tag {
    width: 24px;
    height: 24px;
  }

  /* footer */

  .main-footer {
    height: 115px;
    text-align: center;
    margin: 96px 0 0;
    display: flex;
    justify-content: space-around;
  }

  .wrap {
    display: flex;
    margin: 0 auto;
    width: 60%;
  }

  .main-footer ul {
    display: flex;
  }

  .main-footer a {
    color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #828282;
  }

  .main-footer li:nth-child(1) a {
    border: none;
  }

  .main-footer a:hover {
    color: #c49871;
  }

  .external-link {
    margin-left: auto;
  }

  .external-logo {
    vertical-align: middle;
    margin-left: 15px;
    width: 50px;
  }

  .copyright p {
    padding-right: 120px;
  }

  .main-footer a,
  .external-link,
  .copyright p {
    line-height: 115px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  .main-nav a {
    width: calc(100vw / 8);
  }

  .header-tool-btn {
    width: 44px;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  #search-icon {
    height: 40px;
    position: absolute;
    right: 10px;
    top: 1px;
  }

  .main-footer a {
    padding-left: 20px;
    padding-right: 20px;
  }

  .story-container {
    height: 600px;
    background-size: auto 600px;
  }
  .slide-dot {
    top: 560px;
  }
}
