#thank-msg {
  margin: 0 auto;
  text-align: center;
  color: #3f3a3a;
  font-family: Arial;
  padding: 40px 0;
  letter-spacing: 2px;
}

#thank-you {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
}

#continue-btn {
  color: white;
  background-color: #313538;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 680px) {
  #thank-msg {
    padding: calc(15vh) 0;
  }
  #thank-you {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  #thank-msg {
    margin-top: 0;
    padding: calc(10vh) 0;
  }
}
